.qiji-oni-statistic-item {
  transition: background 0.3s;
  background: #f7f8fa;
  border-radius: 4px;
  padding: 24px;
}
.qiji-oni-statistic-active {
  transition: background 0.3s;
  background: #ff4846;
}
