.item-box {
  text-align: center;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  position: relative;
  padding: 6px;
  .icon {
    font-size: 30px;
    transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
    height: 50px;
  }
  .icon-name {
    font-size: 16px;
  }
  &:hover {
    background: #096dd9;
    color: #fff;
    border-radius: 4px;
    .icon {
      font-size: 40px;
      transition: font-size 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 110px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    content: 'Copied!';
  }
}
