@tooltip-prefix-cls: ~'qiji-oni-tooltip';
.@{tooltip-prefix-cls} {
  .ant-tooltip-arrow {
    width: 22px;
    height: 22px;
  }
  .ant-tooltip-arrow-content {
    --antd-arrow-background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background-color: #fff;
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.15);
    content: '';
    pointer-events: auto;
    border-radius: 0 0 2px;
    pointer-events: none;
  }
  .ant-tooltip-inner {
    padding: 10px;
    // width: 140px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 4px;
    color: #000;
  }
  .ant-tooltip-placement-bottom,
  .ant-tooltip-placement-bottomLeft,
  .ant-tooltip-placement-bottomRight {
    padding-top: 15px;
  }
}
